*{
    margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
}

.header{
    width: 100%;
height: 80px;
display: block;
background-color: #101010;
}

.inner_header{
width: 1000px;
height: 100%;
display: block;
margin: auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;

}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Architects Daughter', cursive;

    font-size: 32px;
}

.logo_container h1 span{
    font-weight: 800;
}

.navigation{
    float: right;
    height: 100%;

}

.navigation a{
    margin: 25px;
    /* height: 100%; */
    display: table;

    float: left;
    padding: 0px 20px;
    cursor: pointer;
}

.navigation a:last-child{
padding-right: 0;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Architects Daughter', cursive;

    font-size: 16px;

}
.navigation a li:hover{
    /* margin: 3px; */
    border: 1px solid black;
    /* height: 10px;
    width: px; */
    background-color: white;
    color: black;
    border-radius: 5px;
}
